%html
%head
	%title= 'Slon'
	= stylesheet_link_tag :all
	= javascript_include_tag :defaults
	= csrf_meta_tag

%body
	.container_16
		.grid_16.cabecera= 'Cabecera de SLON'
		.grid_16.carrusel_flash= 'Carrusel de vídeos en flash'
		= yield
		.clear
	.clear
